<div class="dropstart">
    <button type="button " class="btn btn-sm  btn-secondary rounded-circle " data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-user"></i>
    </button>

    <ul class="dropdown-menu text-center" style="min-width: 300px;" aria-labelledby="dropdownMenuButton1"> 
        <img src="https://i.ibb.co/SrKrzrC/logo.png" class="image border border-success" alt="usuario">  
      <div class="container-fluid d-flex flex-column">
        <span>Jesus David Garcia Hernandez</span> 
        <span>yisusgarcia1002@gmail.com</span> 
      </div>
      <li><a class="dropdown-item" href="#">Mis compras</a></li>
      <li><a class="dropdown-item" href="#">Pedidos</a></li>
      <li><a class="dropdown-item" [routerLink]="['perfil']" >Perfil</a></li>
      <li><a class="dropdown-item" href="#">Salir</a></li>
    </ul>
  </div>