<div class= "row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
  <div class="col" *ngFor="let pro of pro.Pro; let i=index">
  <div class="card border-0 shadow "  >
    <img [src]="pro.img+'/'+i" class="p-1 col-12" [alt]="pro.tipo" style="overflow: hidden;">
    <div class="col-12 card-body">
      <h6 class="card-title p-0 d-flex justify-content-between ">{{pro.nombre}}<span style="font-size: 12px;" class="  bg-primary rounded-4 p-1 text-white">{{pro.tipo}}</span> </h6>
      <p class="card-text">{{pro.descripcion}}</p>
      <p class="card-text my-1">Cantidad disponible: <span>{{pro.cantidad}}</span></p>
      <p class="card-text my-1">Precio unidad $ <span>{{pro.precio}} <span class="text-muted">COP</span></span></p>
      <p class="card-text"> 
        <button type="button" title="Agregar al carrito" class="btn btn-sm btn-primary ">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
          </svg>
        </button>
      </p>
      <div class="card-text d-flex justify-content-between">
        <small class="text-muted">{{pro.fecha}}</small> 
        <div class="">
            <small class="text-muted mx-2 " style="font-size: .76rem;"  >{{pro.ClienteId}}</small>
            <button type="button " class="btn btn-sm p-0  border-0 " style="overflow: hidden;">
                <img src="https://i.ibb.co/SrKrzrC/logo.png" class="img-fluid rounded-circle shadow-sm" style="border-radius: 100%; overflow: hidden; width: 20px; height: 20px;" alt="usuario">
            </button>
        </div> 
      </div>
      <div class="card-text d-flex justify-content-center" *ngIf="pro.ClienteId===id">
        <!-- <button class="btn btn-sm m-1 btn-outline-success" title="Detalle"><i class="fas fa-eye"></i></button> -->
        <button class="btn btn-sm m-1 btn-outline-info" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="Editar(pro.ClienteId,pro.idproducto) " title="Editar"><i class="fas fa-pencil-alt"></i></button>
        <button class="btn btn-sm m-1 btn-outline-danger" (click)="Eliminar(pro.idproducto)" title="ELimiar"><i class="fas fa-trash-alt"></i></button>
      </div>
    </div>
  </div> 

  </div>
</div>
<div *ngIf="pro.loading === true"class="my-4 d-flex justify-content-center">
  <div class="spinner-border text-info" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div *ngIf="pro.Pro.length ===0 && pro.loading==false " class="alert alert-success col-12 my-4" role="alert">
  No se encontrarón productos
</div>
