<div class="container-fluid">
    <h1 class="text-center h4">Mis Productos</h1>
    <button class="btn btn-primary rounded-circle mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal" title="Publicar">
        <i class="fas fa-plus"></i>
    </button>


    
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar un producto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese el nombre del producto">
                  </div>
                  <select class="form-select" aria-label="Disabled select example">
                    <option selected>Seleccionar el tipo de producto</option>
                    <option value="Verdura">Verdura</option>
                    <option value="Frutas">Frutas</option>
                    <option value="Carnes">Carnes</option>
                    <option value="Lacteos">Lacteos</option>
                    <option value="Proteina">Proteina</option>
                  </select>
                  <div class="mb-3">
                    <label for="formFileSm" class="form-label labels col-8">Suba una imagen</label>
                    <input  class="form-control form-control-sm" id="formFileSm" type="file" accept=".jpg , .png, .jpeg" >
                  </div>
                  <div class="mb-3">
                    <label for="precio" class="form-label">Precio</label>
                    <input type="number" class="form-control" id="precio" placeholder="Ingrese el precio del producto">
                  </div>
                  <div class="mb-3">
                    <label for="Cantidad" class="form-label">Cantidad</label>
                    <input type="number" class="form-control" id="Cantidad" placeholder="Ingrese la cantidad disponible">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Ingrese una descripción del producto" rows="3"></textarea>
                  </div>
            </form> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>

    <div class="container d-flex align-items-center justify-content-center rounded-4 shadow-lg" style="height: 40vh ;">
        <div class="letra"> 
            Aun no se ha hecho una publicación 
        <span class="placeholder col-6"></span>
        <span class="placeholder w-75  bg-success"></span>
        <!-- <span class="placeholder" style="width: 25%;"></span> -->
        </div>
    </div>
</div>