<div class="container-fluid d-flex flex-wrap mx-0 mt-2 px-1">
    <div class="col-12 mb-1 col-sm-2 col-md-2 col-lg-1 col-xl-1 " style="z-index: 2;"> 
            <div class="sm-position-fixed position-fixed col-sm-2 col-md-2 col-lg-1 col-xl-1 list-group d-flex flex-row flex-sm-column border border-1" style="font-size: .76rem;" >
                <button type="button" class="px-1 text-center list-group-item list-group-item-action" [ngClass]="{'active' : PS.filtro=='Todos'}"(click)="filtrar('Todos')" aria-current="true">Todos</button>
                <button type="button" class="px-1 text-center list-group-item list-group-item-action" *ngFor="let item of PS.item" [ngClass]="{'active' : PS.filtro==item}"(click)="filtrar(item)">{{item}}</button>
            </div> 
    </div>
    <app-producto class="container col-12 col-sm-10 col-md-10 col-lg-7 " style="min-height: 50vh;"></app-producto>
    <div class="d-none d-lg-block col-12 col-lg-4" style="position: relative; z-index: -1;">
        <app-mapa class="position-fixed  shadow rounded-2 col-lg-4" style="height:79vh; "></app-mapa>
    </div>

</div>
<button class="btn btn-primary sticky-bottom rounded-circle mx-2 mt-2 d-lg-none d-lg-block" data-bs-toggle="modal" data-bs-target="#mapa" style="">
    <i class="fas fa-map"></i>
</button>
<!-- Full screen modal -->
<div id="mapa" class="modal">
    <div class="modal-dialog modal-fullscreen bg-dark">
        <div class="modal-content  text-white bg-dark">
            <!-- <div class="modal-header"> -->
                <!-- <h5 class="modal-title">Modal title</h5> -->
                <button type="button" class="btn btn-sm btn-danger position-relative top-0 end-0 " style="width: 30px; " data-bs-dismiss="modal" >x</button>
            <!-- </div> -->
            <div class="modal-body bg-dark p-0">
                <app-mapa class="m-0 p-0 "></app-mapa>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>